* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 400;
  text-align: center; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem; }

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem; }

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.3rem; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 2rem; }

nav .nav-link {
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-weight: normal; }

nav .nav-item {
  color: white;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif; }

nav .nav-item:hover {
  text-decoration: underline; }

nav .navbar-toggler {
  background-color: #110202;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.3rem; }

.portada {
  background-image: url(../Pictures/wepik--202251-212210.jpg);
  height: 40rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }
  .portada .boton_menu {
    position: absolute;
    top: 22.5rem;
    background-color: #cfab68;
    width: 12rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: 2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    text-align: center;
    color: white; }
    .portada .boton_menu a {
      font-weight: 400;
      font-size: 1.5rem;
      color: white; }
  .portada .boton_menu:hover {
    background-color: #110202; }

.logo {
  background-image: url(../Pictures/1.2.png);
  width: 250px;
  height: 120px;
  text-indent: -99999px;
  display: block;
  float: left;
  position: absolute;
  top: 1.4rem;
  left: 1.4rem;
  z-index: 2;
  background-color: rgba(0, 128, 0, 0); }

.titulo {
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2.9rem;
  clear: left;
  top: 17rem;
  left: 0;
  right: 0;
  position: absolute;
  font-weight: bold; }

.home_nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .home_nosotros .home_nosotros-texto {
    width: 50%;
    justify-items: center;
    margin: 8% 7% 5% 3%;
    font-weight: 300; }
    .home_nosotros .home_nosotros-texto h2 {
      text-align: center;
      margin-bottom: 7%; }
    .home_nosotros .home_nosotros-texto p {
      font-size: 1.4rem; }
    .home_nosotros .home_nosotros-texto a {
      width: 9rem;
      color: white;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      font-weight: 400;
      background-color: #cfab68;
      padding: 0.3rem;
      border-radius: 0.3rem;
      display: inline-block;
      transition: 0.5s;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
      position: relative;
      top: 5%;
      left: 50%;
      transform: translateX(-50%); }
    .home_nosotros .home_nosotros-texto a:hover {
      background-color: #110202; }
  .home_nosotros .home_nosotros-img img {
    width: 80%;
    margin-left: 15%;
    margin-top: 15%; }

.home_productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .home_productos .home_productos-texto {
    width: 50%;
    justify-items: center;
    margin: 8% 7% 5% 3%;
    font-weight: 300; }
    .home_productos .home_productos-texto h2 {
      text-align: center;
      margin-bottom: 7%; }
    .home_productos .home_productos-texto p {
      font-size: 1.4rem; }
    .home_productos .home_productos-texto a {
      width: 9rem;
      color: white;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      font-weight: 400;
      background-color: #cfab68;
      padding: 0.3rem;
      border-radius: 0.3rem;
      display: inline-block;
      transition: 0.5s;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
      position: relative;
      top: 5%;
      left: 50%;
      transform: translateX(-50%); }
    .home_productos .home_productos-texto a:hover {
      background-color: #110202; }
  .home_productos video {
    margin-left: 50%;
    margin-right: 10%;
    margin-top: 7%;
    float: right;
    width: 80%;
    height: 70%; }

.galeria {
  display: flex;
  flex-direction: row; }
  .galeria img {
    width: 25%;
    height: 100%; }

.portada_Nosotros, .portada_Menu, .portada_Productos, .portada_Contacto {
  background-image: url(../Pictures/PortadaNosotros.jpg);
  height: 35rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nosotros .nosotros-texto {
    text-align: center;
    font-weight: 400;
    margin: 5% 10% 5% 0%;
    width: 60%; }
    .nosotros .nosotros-texto h2 {
      text-align: center; }
    .nosotros .nosotros-texto p {
      font-size: 1.4rem; }
  .nosotros .nosotros-img {
    margin: 5% 5% 5% 10%;
    width: 40%; }
    .nosotros .nosotros-img img {
      width: 100%; }

.portada_Menu {
  background-image: url(../Pictures/PortadaMenu.jpg); }

.menuu {
  background-image: url(../Pictures/menufondo2.jpg);
  height: 45rem;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.menu_lista {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .menu_lista .menudetalle {
    background-color: #f5f0f0;
    height: 80%;
    width: 80%;
    text-align: center;
    margin-top: 8rem;
    padding: 2.2rem;
    color: #B5966A; }
    .menu_lista .menudetalle:hover {
      transform: scale(1.2, 1.2); }
    .menu_lista .menudetalle h2 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 20px; }

.portada_Productos {
  background-image: url(../Pictures/Portadaproductos.jpg); }

.productos_texto {
  margin: 10% 20% 5% 20%;
  text-align: center; }
  .productos_texto p {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem; }

.contenedor_productos {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "ab c" "d ef" "gh g";
  justify-items: center; }
  .contenedor_productos h2 {
    font-size: 1.4rem; }
  .contenedor_productos p {
    font-family: "Raleway", sans-serif;
    font-size: 1rem; }
  .contenedor_productos img {
    width: 100%; }
  .contenedor_productos .ab {
    grid-area: ab;
    text-align: right;
    position: relative;
    top: 30%;
    margin-left: 20%; }
  .contenedor_productos .ef {
    grid-area: ef;
    position: relative;
    top: 30%;
    margin-right: 20%; }
  .contenedor_productos .c {
    grid-area: c;
    justify-self: center; }
  .contenedor_productos .d {
    grid-area: d;
    justify-self: center; }
  .contenedor_productos .gh {
    grid-area: gh;
    text-align: right;
    position: relative;
    top: 30%;
    margin-left: 20%; }
  .contenedor_productos .g {
    grid-area: g;
    justify-self: center; }

.portada_Contacto {
  background-image: url(../Pictures/wepik--202251-212210.jpg); }

.Contacto {
  margin: 6rem 10% 0rem 10%; }
  .Contacto h1 {
    text-align: center; }

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .formulario form {
    margin: 2rem 10%;
    font-size: 1rem; }
  .formulario form input {
    font-family: "Raleway", sans-serif; }
  .formulario form textarea {
    font-family: "Raleway", sans-serif; }
  .formulario .nombreapellido input {
    height: 35px;
    width: 49%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem; }
  .formulario .email input {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem; }
  .formulario .nacimiento input {
    height: 35px;
    width: 50%;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem; }
  .formulario .razones select {
    height: 35px;
    width: 50%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #110202; }
  .formulario .comentarios textarea {
    height: 105px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #110202;
    font-size: 1rem; }
  .formulario .novedades input {
    height: 12px;
    width: 5%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #110202;
    font-size: 1rem; }
  .formulario .button_contacto input {
    height: 35px;
    width: 100%;
    background-color: #cfab68;
    border-radius: 5px;
    border: 3px solid #110202; }

footer {
  background-color: #B5966A;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr; }
  footer img {
    margin: 1.5rem; }
  footer .footer_logo {
    margin-top: 2.5rem; }
  footer .footer_coffee {
    margin: 2rem 1.5rem 2px;
    width: 16rem;
    justify-self: end; }
    footer .footer_coffee p {
      color: #110202;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 1rem;
      text-align: center; }
    footer .footer_coffee img {
      margin: 1rem 0.5rem;
      position: relative;
      left: 2rem; }

@media screen and (max-width: 992px) {
  .nav-link {
    font-size: 1rem;
    padding: .7rem 1rem; }
  .bg-transparent {
    background-color: black !important;
    z-index: 1; }
  .logo {
    background-image: url(./Pictures/celularlogo.png);
    background-repeat: no-repeat;
    left: 0.3rem; }
  .nosotros-img {
    margin: 5% 5% 5% 5%;
    width: 45%; }
  .nosotros-texto {
    margin: 5% 5% 5% 0%;
    text-align: center;
    width: 55%; }
  .nosotros-texto p {
    font-size: 0.9rem; }
  .menuu {
    height: 35rem; }
  .menudetalle {
    text-align: center;
    padding: 1%; }
    .menudetalle p {
      font-size: 1rem; } }

@media screen and (max-width: 768px) {
  .home_nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%; }
    .home_nosotros .home_nosotros-img img {
      width: 60%;
      margin-left: 25%;
      margin-top: 10%; }
    .home_nosotros .home_nosotros-texto {
      font-weight: 100;
      width: 100%;
      margin-left: 5%;
      margin-right: 10%; }
  .home_productos {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center; }
    .home_productos .home_productos-texto {
      font-weight: 100;
      width: 100%; }
    .home_productos video {
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 5%;
      float: none; } }

@media screen and (max-width: 576px) {
  /* Media Screen for Index */
  .portada {
    height: 25rem; }
    .portada .boton_menu {
      top: 15rem;
      background-color: #cfab68;
      width: 8rem; }
      .portada .boton_menu a {
        font-size: 1rem; }
  .nav-link {
    font-size: 1rem;
    padding: .7rem 1rem; }
  .bg-transparent {
    background-color: black !important;
    z-index: 1; }
  .logo {
    background-image: url(../Pictures/celularlogo.png);
    background-repeat: no-repeat;
    left: 0.3rem; }
  .titulo {
    font-size: 1.5rem;
    top: 10rem; }
  .home_nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%; }
    .home_nosotros .home_nosotros-texto {
      width: 100%;
      margin: 4% 5% 7% 5%;
      font-weight: 100; }
      .home_nosotros .home_nosotros-texto h2 {
        font-size: 1.2rem; }
      .home_nosotros .home_nosotros-texto p {
        font-size: 0.8rem; }
      .home_nosotros .home_nosotros-texto a {
        font-size: 0.8rem;
        width: 8rem; }
    .home_nosotros .home_nosotros-img img {
      width: 60%;
      margin-left: 25%;
      margin-top: 10%; }
  .home_productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%; }
    .home_productos .home_productos-texto {
      width: 100%;
      margin: 4% 5% 7% 5%;
      font-weight: 100; }
      .home_productos .home_productos-texto h2 {
        font-size: 1.2rem; }
      .home_productos .home_productos-texto p {
        font-size: 0.8rem; }
      .home_productos .home_productos-texto a {
        font-size: 0.8rem;
        width: 8rem; }
    .home_productos video {
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 5%;
      float: none; }
  footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr; }
    footer img {
      margin: 0.5rem; }
    footer .footer_coffee {
      justify-self: center; }
      footer .footer_coffee p {
        font-weight: 1 00;
        font-size: 0.8rem;
        text-align: center; }
    footer .footer_logo {
      justify-self: center;
      margin: 1rem 0rem 0rem 0rem; }
  .portada_Productos {
    height: 25rem; }
  .productos_texto {
    margin: 5% 20% 5% 20%;
    font-size: 1.2rem; }
    .productos_texto p {
      font-size: 0.8rem; }
  .contenedor_productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: "c" "ab" "d" "ef" "g"  "gh";
    justify-items: center; }
    .contenedor_productos h2 {
      font-size: 1.2rem; }
    .contenedor_productos p {
      font-size: 0.8rem; }
    .contenedor_productos img {
      width: 100%; }
    .contenedor_productos .ab {
      text-align: center;
      margin-right: 2rem;
      margin-left: 2rem;
      top: 0%; }
    .contenedor_productos .ef {
      text-align: center;
      margin-right: 2rem;
      margin-left: 2rem;
      top: 0%; }
    .contenedor_productos .gh {
      text-align: center;
      margin-right: 2rem;
      margin-left: 2rem;
      top: 0%; }
  .portada_Menu {
    height: 25rem; }
  .menuu {
    height: 20rem; }
  .menu_lista .menudetalle {
    height: 90%;
    width: 90%;
    margin-top: 4rem;
    padding: 0.1rem; }
    .menu_lista .menudetalle:hover {
      transform: scale(1.1, 1.1); }
    .menu_lista .menudetalle h2 {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 10px; }
    .menu_lista .menudetalle p {
      font-size: 0.85rem; }
  .menu_lista .portada_Nosotros, .menu_lista .portada_Menu, .menu_lista .portada_Productos, .menu_lista .portada_Contacto {
    height: 25rem; }
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .nosotros .nosotros-img {
      width: 70%;
      align-self: center;
      margin: 10%; }
    .nosotros .nosotros-texto {
      text-align: center;
      width: 90%;
      align-self: center;
      margin: 5%; }
      .nosotros .nosotros-texto p {
        font-size: 1rem; }
  .portada_Contacto {
    height: 25rem; }
  .nombreapellido input {
    width: 80%;
    margin: 10px; } }
