@import "Generico";
@import "nosotros";
@import "menu";
@import "productos";
@import "contacto";
@import "footer";
@import "mediaquery";

nav {
    .nav-link {
        text-align: right;
        font-family: $titulos;
        font-weight: normal;
    }

    .nav-item{
        color: $blanco;
        font-weight: 300;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: $titulos;
    }

    .nav-item:hover{
        text-decoration: underline;
    }

    .navbar-toggler {
        background-color: $negro;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 0.3rem;
    }
}
.portada {
    background-image: url(../Pictures/wepik--202251-212210.jpg);
    height: 40rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    .boton_menu {
        position: absolute;
        top: 22.5rem;
        background-color: $orange;
        width: 12rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        margin-left: 50%;
        transform: translateX(-50%);
        transition: 2s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
        text-align: center;
        color:$blanco;

        a{
            font-weight: 400;
            font-size: 1.5rem;
            color: $blanco;

        }
    }

    .boton_menu:hover {
        background-color: $negro;
    }
}

.logo {
    background-image: url(../Pictures/1.2.png);
    width: 250px;
    height: 120px;
    text-indent: -99999px;
    display: block;
    float: left;
    position: absolute;
    top: 1.4rem;
    left: 1.4rem;
    z-index: 2;
    background-color: rgba(0, 128, 0, 0);
}
    
.titulo{
    color: $blanco;
    font-family: $parrafo;
    text-align: center;
    font-size: 2.9rem;
    clear: left;
    top: 17rem;
    left: 0;
    right: 0;
    position: absolute;
    font-weight: bold;
}

.home_nosotros{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;

    .home_nosotros-texto {
     width: 50%;
     justify-items: center;
     margin: 8% 7% 5% 3%;
     font-weight: 300;

    h2{
        text-align: center;
        margin-bottom: 7%;
    }
    
    p {
        font-size: 1.4rem;
    }

    a{
       width: 9rem;
       color: $blanco;
       font-family: $titulos;
       text-decoration: none;
       font-weight: 400;
       background-color:$orange;
       padding: 0.3rem;
       border-radius: 0.3rem;
       display: inline-block;
       transition: 0.5s;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
       position: relative;
       top: 5%;
       left: 50%;
       transform: translateX(-50%);
    }
    a:hover {
        background-color: $negro;
    }

    }
    .home_nosotros-img{
    
    img{
        width: 80%;
        margin-left: 15%;
        margin-top: 15%;
        }
    }
}



.home_productos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .home_productos-texto {
    width: 50%;
    justify-items: center;
    margin: 8% 7% 5% 3%;
    font-weight: 300;
    h2 {
        text-align: center;
        margin-bottom: 7%;
    }
    p {
        font-size: 1.4rem;
    }
    a {
        width: 9rem;
        color: white;
        font-family: $titulos;
        text-decoration: none;
        font-weight: 400;
        background-color: $orange;
        padding: 0.3rem;
        border-radius: 0.3rem;
        display: inline-block;
        transition: 0.5s;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
        position: relative;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    a:hover {
        background-color: $negro;
    }

    }
    video{
        margin-left: 50%;
        margin-right: 10%;
        margin-top: 5%;
        float: right;
        width: 80%;
        height: 70%;
    }
}

.galeria{
    display: flex;
    flex-direction: row;
    img {
        width: 25%;
        height: 100%;
    }
}





